* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

html {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.allWarp {
  position: relative;
  width: 1000px;
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid gray;
}

.allWarp .leftNav {
  position: relative;
  height: 100%;
  width: 80px;
  background-color: black;
}

.allWarp .leftNav .logoWarp {
  width: 80px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.allWarp .leftNav .logoWarp .headLogo {
  width: 60px;
  height: 60px;
  background-color: #eee;
}

.allWarp .leftNav .logoWarp .headLogo img {
  width: 60px;
  height: 60px;
}

.allWarp .leftNav .talkIn {
  width: 80px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.allWarp .leftNav .talkIn .talk {
  width: 60px;
  height: 60px;
  font-size: 60px;
  color: #ffffff;
  position: relative;
}

.allWarp .midWarp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 220px;
  background-color: #eee;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.allWarp .midWarp .input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 80px;
}

.allWarp .midWarp .chatList {
  width: 100%;
  height: 620px;
  overflow-y: auto;
}

.allWarp .midWarp .chatList .listW {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 45px;
}

.allWarp .midWarp .chatList .listW .result {
  font-size: 14px;
  height: 100%;
  width: 170px;
}

.allWarp .midWarp .chatList .listW .result .addNickname {
  margin-top: 2px;
}

.allWarp .midWarp .chatList .listW .add1 {
  height: 100%;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.allWarp .midWarp .chatList .listW .add1 .add {
  border: 0;
}

.allWarp .rightNav {
  height: 100%;
  width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.allWarp .rightNav .mianBox {
  width: 300px;
  height: 300px;
}

.allWarp .rightNav .mianBox .load {
  text-align: center;
  font-size: 30px;
  color: #000;
}

.allWarp .rightNav .mianBox .input-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
}

.allWarp .rightNav .mianBox .loadPost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.allWarp .rightNav .mianBox .loadPost button {
  margin-left: 15px;
}
/*# sourceMappingURL=首页.css.map */